<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <import resource="classpath:spring-service.xml"></import>


    <dubbo:application name="dubbo_provider"></dubbo:application>

    <dubbo:registry address="zookeeper://192.168.211.128:2181"></dubbo:registry>

    <dubbo:service interface="org.example.service.UserService" ref="userService"></dubbo:service>



</beans>